---
import "@styles/main.css";
import Layout from '@layouts/Layout.astro'
import { pbFetch } from "@functions";
import PocketBase from 'pocketbase';

const pb = new PocketBase('https://floristik.pockethost.io');

const { specie } = Astro.params
export async function getStaticPaths() {
    let data = await pbFetch({
        collection: "species",
        sort: "scientific"
    });

    let params: Array<{params: {specie: string;}}> = [];

    data.forEach((element: any) => {
        params.push({
            params: { specie: element.scientific.replace(' ', '_') }
        });
    });

    return params;
}

await pb.admins.authWithPassword(import.meta.env.PB_USERNAME, import.meta.env.PB_PASSWORD);
const data = await pb.collection('species').getFirstListItem(`scientific ~ "${specie.replace('_', ' ')}"`) // TODO: Get function to be able to do this, TODO: Also probably work out a better way than to replace the _ with an empty space and vice versa

---

<Layout>
    <a href="/" class="flex gap-25 align-items-center padding-block-50 padding-inline-100">
        <img src="/icons/back.svg" alt="" />
        Back to homepage
    </a>
    <flex class="gap-100 margin-block-100">
        <img transition:name={`blogpost-image-${data.id}`} src={`https://floristik.pockethost.io/api/files/${data.collectionId}/${data.id}/${data.images[0]}`} alt="" height="256" />
        <section>
            <h1 class="margin-0">{data.scientific}</h1>
            <small>{data.swedish} - {data.redlist_status}</small>
            <p>{data.description}</p>
        </section>
    </flex>
</Layout>

<style>
    img {
        border-radius: .5rem
    }

    a:has(img[src="/icons/back.svg"]) {
        border-radius: 9999px;
        transition: background-color .2s ease;
        width: fit-content;
        font-weight: 500;
        color: black;
        text-decoration: none;
    }

    a:has(img[src="/icons/back.svg"]):hover {
        background-color: #e0e6eb;
    }

    p {
        max-width: 50ch;
    }

</style>