---
import Layout from '@layouts/Layout.astro'
import { pbFetch } from '@functions'

const data = await pbFetch({
    collection: "species",
	sort: 'scientific'
});


---

<Layout>
	<container-text class="margin-inline-auto">
		<h1 class="margin-top-0 margin-left-100">Floristik</h1>
		{data.map((specie: any) => 
			<a href={`/${specie.scientific.replace(' ', '_')}`}> 
				<article>
					<flex class="gap-50 align-items-center justify-content-space-between padding-block-25 padding-right-25">
						<section class="margin-left-100">
							<h2 class="margin-0 font-weight-500" style="text-transform: capitalize;">{specie.scientific}</h2>
							<small style="text-transform: capitalize;">{specie.swedish}</small>
						</section>
						<img transition:name={`blogpost-image-${specie.id}`} src={`https://floristik.pockethost.io/api/files/${specie.collectionId}/${specie.id}/${specie.images[0]}`} alt="" height="80" width="80" />
					</flex>
				</article>
			</a>
		)}
	</container-text>
</Layout>

<style>
	img {
		border-radius: .25rem;
		display: grid;
		object-fit: cover;
	}

	a {
		text-decoration: none;
		color: black;
		display: block;
		transition: background-color .2s ease;
		border-radius: .25rem
	}

	a:hover {
		background: #e0e6eb;
	}

</style>